 # Powtórka z Pythona do tego trochę NumPy i Pandas :) Sama radość

In [36]:
i = int
for i in range(4):
    print(i)

0
1
2
3

# Ala ma Kota

In [37]:
print(f"{i} is the key")

3 is the key

# hashtag zmiana czcionki

## hashtag zmianna czcionki ale mniejsza

<code>
for i in range(4):
    print(i)

</code>

$\sqrt{5}$

$Y = \beta_{0} + \beta_{1}*X + \epsilon$

*kursywa*

**pogrubienie**

<ol>
    <li> Python </li>
    <li> R </li>
    <li> Excel </li>






</ol>

In [38]:
x = 2
print(type(x))

<class 'int'>

In [39]:
type(x)

int

In [40]:
y =3.14
type(y)

float

In [41]:
z = "ass" 
type(z)

str

In [42]:
osoby = []

In [43]:
osoby.append("Tomek")
print(osoby)

['Tomek']

In [44]:
osoby[0]

'Tomek'

In [45]:
osoby[-1]

'Tomek'

In [46]:
type(osoby)

list

In [47]:
conda install jupyterthemes

Retrieving notices: ...working... done
Channels:
 - defaults
Platform: win-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... failed

Note: you may need to restart the kernel to use updated packages.

PackagesNotFoundError: The following packages are not available from current channels:

  - jupyterthemes

Current channels:

  - defaults

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.

pip install jupyterthemes jt -t <onedork>

In [48]:
jt -t <monokai>

SyntaxError: invalid syntax (4231533736.py, line 1)

In [ ]:
pip install jupyterthemes jt-t <chesterish>

In [ ]:
from jupyterthemes import get_themes
import jupyterthemes as jt
from jupyterthemes.stylefx import set_nb_theme

In [ ]:
from jupyterthemes import get_themes
import jupyterthemes as jt
from jupyterthemes.stylefx import set_nb_theme
set_nb_theme('oceans16')

In [ ]:
lista2 = [1, 2, 3, 4, 5, 6, 7, 8]
lista2[::]

In [ ]:
lista2[::2]

In [ ]:
lista2 = [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
lista2.reverse()

In [ ]:
lista2

In [ ]:
lista2.append(150)

In [ ]:
lista2

In [ ]:
lista2.insert(0,'1760')

In [ ]:
lista2

In [ ]:
lista2.remove(5)

In [ ]:
lista2

In [ ]:
lista2.pop(0)

In [ ]:
lista2

In [ ]:
lista2.sort()

In [ ]:
lista2

In [ ]:
lista2.sort(reverse=True)

In [ ]:
lista2

In [ ]:
lista2.index(150)

In [ ]:
lista2.count(150)

In [ ]:
krotka = ( 1, 2, 3, 4, 5)

In [ ]:
for e in krotka:
    print(e)

In [ ]:
type(krotka)

indeksowanie krotek

In [ ]:
krotka = ( 1, 2, 3, 4, 5)
krotka[0:5]

In [ ]:
krotka.count(5)

ile razy dany element się pwoatarza w krotce

słowniki

In [ ]:
panstwa = { 
    'Polska' : 'Warszawa',
    'Niemcy' : ' Berlin',
    'Czechy' : 'Praga',
}

In [ ]:
for key in panstwa:
    print(key,panstwa[key])

In [ ]:
panstwa.items()

In [ ]:
panstwa['Czechy']

Dodawani danych

In [ ]:
panstwa['Francja'] = 'Paryż'

In [ ]:
print(panstwa)

pop usuwanie wartosci ze slownika

In [ ]:
panstwa.pop('Niemcy')
print(panstwa)

zmiana klucza slownika

In [ ]:
panstwa['Czech Republic'] = panstwa.pop('Czechy')

In [ ]:
print(panstwa)

In [ ]:
panstwa.keys()

In [ ]:
panstwa.items()

In [ ]:
panstwa.values()

Zbiory

In [ ]:
zbior = {1, 2, 3, 4, 5}

In [ ]:
zbior

In [ ]:
type(zbior)

In [ ]:
zbior2 = {1, 2, 2, 4, 6, 3, 4, 5}

nie poda zdublowanych elementów zbioru

In [ ]:
zbior2

In [ ]:
zbior2.add(10000000)
zbior2

In [ ]:
zbior2.add("hahaha")
zbior2

In [ ]:
zbior2.update(["hohoho", "hihihi"])
zbior2

In [ ]:
zbior2.remove('hohoho')

In [ ]:
zbior2

In [ ]:
zbior3 = zbior2 
zbior3

In [ ]:
zbior3.clear()
zbior3

In [ ]:
zbior1 = {1, 2, 3, 4, 5, 6}

In [ ]:
zbior2 = {4, 5, 6, 7, 8, 9}

Łączenie zbiorów Union z pominieciem duplikatow

In [ ]:
zbior3 = zbior1.union(zbior2)
zbior3

Intersection czesc wspolna

In [ ]:
zbior4 = zbior1.intersection(zbior2)
zbior4

Difference Co jest w jednym zbiorze a wdrugim nie difference

In [ ]:
zbior5 = zbior1.difference(zbior2)
zbior5

*Date*

In [ ]:
from datetime import date

In [ ]:
dzis = date.today()
dzis

In [ ]:
type(dzis)

In [ ]:
print(dzis)

In [ ]:
dzis.year

In [ ]:
dzis.month

In [ ]:
dzis.day

przypisanie daty do zmiennej

In [ ]:
jakas_data =date(2024,2,1)
jakas_data

jaki dzien tygodnia byl danej daty: dni indeksujemy od zera czyli poniedziałek to 0

In [ ]:
date.weekday(jakas_data)

zmiana zapisu daty strftime nasza data.strftime("format daty jaki chcemy aby przyjela") z tabeli

In [ ]:
jakas_data.strftime("#%y%m%a")

# Biblioteka Time

In [ ]:
from datetime import time
time()

In [ ]:
#print(time())

In [ ]:
czas = time(13, 5, 40, 555)   #godzina 10 minuta 5 sekund 40 mikrosekund 4

In [ ]:
print(czas)

In [ ]:
czas.hour

In [ ]:
czas.second

In [ ]:
czas. minute

In [ ]:
czas.microsecond

In [ ]:
czas.strftime("%I%#M%S")

# *DATETIME*

In [ ]:
import datetime

teraz = datetime.now()

In [ ]:
print(teraz)

In [ ]:
from datetime import date

today = date.today()
print("Today's date:", today)

In [ ]:
from datetime import datetime

# storing the current time in the variable
c = datetime.now()
c
# Displays Time
# current_time = c.strftime('%H:%M:%S')

In [ ]:
c.year

In [ ]:
c.month, c.day

In [ ]:
c.month

In [ ]:
 c.day

In [ ]:
datetime.date(c)

In [ ]:
c.time()

In [ ]:
dzien2 = datetime(2002,3,1,23,58,10)

In [ ]:
dzien2

In [ ]:
data_string = dzien2.strftime("%d-%m-%y %H-%M")

In [ ]:
data_string

In [ ]:
type(data_string)

In [ ]:
type(data_string)

In [ ]:
data_date = datetime.strptime(data_string, "%d-%m-%y %H-%M")

In [ ]:
data_date

# Timedelta

In [ ]:
from datetime import timedelta, datetime

In [ ]:
data1 = datetime.now()
data1

In [ ]:
data2 = datetime(2021, 5, 1, 11, 44, 59)
data2

In [ ]:
data1 - data2

In [ ]:
data1 + timedelta(days=10)

In [ ]:
data1 + timedelta(days=10, hours=5, minutes=20)

In [ ]:
dd = data1 + timedelta(days=10, hours=5, minutes=20)
dd

In [ ]:
td = timedelta(days=10, hours=5, minutes=20)
td

In [ ]:
td*5

# Tekst operacje

In [ ]:
some_text = "Ala ma kota"

In [ ]:
for word in some_text:
    print(word)

In [ ]:
len(some_text)

In [ ]:
split = some_text.split(" ")
split

In [ ]:
split[1]

In [ ]:
long = " ".join(split)
long

In [ ]:
some_text[4:]

In [ ]:
x = some_text[4:] + " i psa"
x

In [ ]:
"kota" in x

# Operatory if else

In [ ]:
x = int(input(f"podaj wiek: "))
if x > 18:
    print("OK")
else:
    print("NIE OK")

In [ ]:
x = int(input(f"podaj wiek: "))
if x > 18: print("OK")
else: print("NIE OK")

# List Comprehensions

In [ ]:
numbers = []

for n in range(40):
    numbers.append(n)
numbers

In [ ]:
even_numbers1 = []
for n in numbers:
    if n %2 == 0:
        # print(n)
        even_numbers1.append(n)
even_numbers1

In [ ]:
numbers = []

for n in range(40):
    numbers.append(n)
even_numbers_2 = [a for a in numbers if a %2 == 0]
even_numbers_2

wyrażenie(koncowe zapisane do listy)  for element in lista if warunek

przyklad lista liczb pomnożonych przez 2 z użyciem list comprehensions

In [ ]:
my_list = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

my_numbers = [number*2 for number in my_list ]
my_numbers

In [ ]:
my_list = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

my_numbers = [number**2 for number in my_list if number >10 and number < 20 ]
my_numbers

In [ ]:
imiona =['Ala', 'Ania', 'Aneta', 'Beata', 'Andrzej', 'Dorota', 'Zofia']

len_names_starts_a = [len(name) for name in imiona if name[0] == 'A']
len_names_starts_a

Zwrocenie 0 lub 1 jesli imie zaczyna sie na A

In [ ]:
[0 if name[0]== 'A' else 1 for name in imiona]

While pętla...

In [ ]:
print("Opcja A")
for i in range(1,6):
    print(i)

print("Opcja B")
i = 1
while i < 6:
    print(i)
    i+=1

Inna petla

In [ ]:
i=1
while True:
    i+=1
    print(i)
    if i >5:
        
        break

# Pętla while nieskonczona

In [ ]:
x = 1

while True:
    if x > 5:
        break
    print(x)
    x+=1

# Funkcje

*zabawa printem*

In [ ]:
print("Hello","\n","World!")

In [ ]:
print("hksdhfkshfshfhshf {} fsdfsdfsdfsdf".format(500))

In [ ]:
print("hksdhfkshfshfhshf {} fsdfsdfs {} dfsdf".format(500, 400))

In [ ]:
print("hksdhfkshfshfhshf {number1} fsdfsdfs {number2} dfsdf".format(number1 = 500, number2 =400))

*Funkcje matematyczne*

In [ ]:
min(5, 10,-15, 8)

In [ ]:
max(5, 10,-15, 8)

In [ ]:
abs(-15)

# Funkcje

In [ ]:
suma =0
for i in range(1,100):
    suma+=i
print(suma)

In [ ]:
def sumowanie(number):
    sum = 0
    for i in range(1, number):
        sum+= i
    return sum
sumowanie(4)

In [ ]:
def operation(number1, number2):
    x = number1 + number2
    y = number1 * number2
    return f"The sum is {x} and the product is {y}"

operation(3,4)

# Lambda funkcja

In [ ]:
(lambda x:x**3)(10)

In [ ]:
def func(a):
    return a**2
func(5)

In [ ]:
(lambda x:x**2 )(5)

In [ ]:
(lambda x,y: x*y)(2,5)

In [ ]:
(lambda x,y: x+y)(2,5)

Filter i lambda elementy < 10

In [ ]:
my_list = [3, 7, 10, 20, -5, 12, 37, 45, 1,-11]

In [ ]:
# sposob klasyczny:

my_list = [3, 7, 10, 20, -5, 12, 37, 45, 1,-11]
my_nd_list =[]
for number in my_list:
    if number <10:
        my_nd_list.append(number)
my_nd_list

list comprehension opcja br 2

In [ ]:
my_list = [3, 7, 10, 20, -5, 12, 37, 45, 1,-11]
my_numbers = [number for number in my_list if number <10]
my_numbers

FILTER

In [ ]:
my_list = [3, 7, 10, 20, -5, 12, 37, 45, 1,-11]
#lista po filtrowaniu x<10 z listy my_list
list(filter(lambda x: x<10, my_list))

# map

In [ ]:
# kwadrat liczb z użyciem map lambda jako argument

In [ ]:
my_list = [3, 7, 10, 20, -5, 12, 37, 45, 1,-11]
# lista po mapowaniu x w x2 po liscie my_list
list(map(lambda x: x*x, my_list))

# Reduce

*Agregacja elementów z początkowej listy do liczby*

In [ ]:
from functools import reduce
my_list = [3, 7, 10, 20, -5, 12, 37, 45, 1,-11]
reduce(lambda x,y: x+y, my_list)

# Funkcje z nieznana liczbą argumentów

In [ ]:
# * args Nie wiemy ile jest argumentów. args argumenty spakowane do tupli

In [ ]:
def suma(*liczby):
    suma = 0
    for i in liczby:
        suma += i

    return suma

suma(1,2,3,4)

In [ ]:
# ** kwargs  argumenty przekazane do funkcji w psotaci do dicta klucz:wartość

In [ ]:
def parametry(**params):
    for key,value in params.items():
        print('Klucz:', key, 'Wartosc:', value)

parametry(Ala=1, Olo=2, Bolek=3)

In [ ]:
def mnozenie(*liczby):
    iloczyn = 1
    for i in liczby:
        iloczyn *= i
    return iloczyn

mnozenie(5)

# Numpy i Pandas

In [ ]:
# np.array() wymaga podania konkretnych wartości

In [ ]:
import numpy as np

# tworzymy tablice

x = np.array([1, 2, 3, 4, 5])   #tablica jednowymairowa
x

In [ ]:
y = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
y

In [ ]:
y[1,1]

In [ ]:
y[0,0]

In [ ]:
# np.arrange-zwraca liczby z konkretnego przedziału

In [ ]:
np.arange(5)

In [ ]:
#dostaliśmy macierz jednowymiarową od zero do 4

In [ ]:
np.arange(2)

In [ ]:
np.arange(1,10) #przedział od do w nawiasie bez ostatniej liczby

In [ ]:
np.arange(1,20,2) #przedział od do w nawiasie bez ostatniej liczby i ze skokiem co 2

In [ ]:
# np.linspace() zwraca równo rozmieszczone elementy w podanym rpzedziale

In [ ]:
x = np.linspace(0,100)   #elementy ze zbioru od 0 do 100 równo rozmieszczone od 0 do 100
x

In [ ]:
len(x)    #ile elementów

In [ ]:
y = np.linspace(0,100,20 )   #elementy ze zbioru od 0 do 100 równo rozmieszczone od 0 do 100 ale tylko 20 ich jest
y

# Tworzenie tablic ndarray

In [ ]:
import numpy as np

In [ ]:
# np.zeros

In [ ]:
np.zeros((5,5))   #w nawiasie wewnetrznym podajemy wymiery tablicy

In [ ]:
# np.zeros

In [ ]:
np.ones((9,9))          #w nawiasie wewnetrznym podajemy wymiery tablicy

In [ ]:
# np.random.random

In [ ]:
np.random.random((3,7))          #w nawiasie wewnetrznym podajemy wymiery tablicy

# Operacje na tablicach

In [ ]:
# Dodawanie tablic

In [ ]:
import numpy as np

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
b = np.array([[1, 1, 1], [2, 2, 2], [3, 3, 3]])
c = a + b
c

In [ ]:
# odejmowanie tablic

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
b = np.array([[1, 1, 1], [2, 2, 2], [3, 3, 3]])
c = a - b
c

In [ ]:
# mnożenie tablic każdego elementu przez siebie czyli pierwszy wiersz jest bz bo mnożymy przez 1,1,1 to nie typowe mnozenie matematyczne

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
b = np.array([[1, 1, 1], [2, 2, 2], [3, 3, 3]])
c = a * b
c

In [ ]:
 # mnozenie matematyczne to np.matmul(a,b)

In [ ]:
d = np.array([[1, 2, 3],[5,3,2],[8,9,0]])
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [ ]:
f =np.matmul(a,d)
f

In [ ]:
# Transpozycja
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
z = a.T
z

In [ ]:
#rozmiar tablicy

In [ ]:
np.size(z)

In [ ]:
#sprawdzenie warunku liczb w tablicy

In [ ]:
z<3

# Poruszanie sie po tablicach

In [ ]:
# Tablica jednowymiarowa

In [ ]:
import numpy as np

In [ ]:
a = np.array([1, 2, 3, 4, 5, 6, 7])
#wybieramy elementy od 0 do 1 wlącznie czyli 
a[0:2]

In [ ]:
a[1:2]

In [ ]:
a[1:-1]

In [ ]:
#tablica wielowymiarowa

In [ ]:
c = np.array([[1, 2, 3, 4], [5, 6, 7,8], [9, 10, 11, 12]])  #podwójne nawiasy
c

In [ ]:
# wyswietl 2 pierwsze wiersze i wszystkie kolumny

In [ ]:
c[[0,1][0:4]]

In [ ]:
#opcja b wszystkie kolumny to je pomijamy wiesze 2 pierwsze czyli 0,1 i drugi nie wchodzi czyli od zera : do 2 bez 2.

In [ ]:
c[:2]

In [ ]:
# opcja inna c

In [ ]:
c[0:2, :4]

In [ ]:
c[1:3,:2]

In [ ]:
# iterowanie pętlą po tablicach wielowymiarowych

In [ ]:
c = np.array([[1, 2, 3, 4], [5, 6, 7,8], [9, 10, 11, 12]])  #podwójne nawiasy

In [ ]:
# printowanie el.

In [ ]:
for i in c:
    for j in i:
        print(j)

In [ ]:
# printowanie el z załozeniem

In [ ]:
for i in c:
    for j in i:
        if j >5:
            print(j)

In [ ]:
# sumwoanei el

In [ ]:
suma=0
for i in c:
    for j in i:
        suma += j
        print(j)
print(suma)

# Przegląd dostępnych funkcji działajacych na tablicach wielowymiarowych

In [ ]:
#reshape

In [ ]:
import numpy as np

In [ ]:
x = np.arange(1,19)
x

In [ ]:
y = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
y

In [ ]:
#Reshape tablicy x do 3x6 tez bedzie 18el. jak rozmiar nie apsuje elementom to zwraca error VauleError

In [ ]:
x.reshape(3,6)

In [ ]:
y.reshape(2,6)

In [ ]:
# Funkcje matematyczne

In [ ]:
x.min(), x.max(), x.mean(), x.sum()

In [ ]:
# where zwraca nam el. pod wplywem warunku

In [ ]:
np.where(y<=3,y, y*2)  #w tablicy y zwróci liczby y<=3 i wyswiet je y w innym razie pomnż y*2

In [ ]:
#zagnieżdzanie funkcji where w drugiej funkcji

In [ ]:
y

In [ ]:
#wyświetl liczby z tablicy y mniejsze równe 3 i wyswietl liczby mniejsze równe 10 z tablicy y pomnożone przez dwa 
# a jak takich nie ma to to liczy y pomnozone przez 3

In [ ]:

np.where(y<=3, y, np.where(y<=10, y*2, y*3))

# Pandas powtórka podstaw

*Series*

In [ ]:
import  pandas as pd

In [ ]:
# Series sposób bezpośredni

In [ ]:
x = pd.Series([1, 2, 3, 4, 5])
x

In [ ]:
# etykiety pierwsze z lewej przypisały sie od 0 do 4 czyli działa poprawnie :)

In [ ]:
x = pd.Series([1, 2, 3, 4, 5], index =['a', 'b', 'c', 'd', 'e'])
x

In [ ]:
# etykiety pierwsze z lewej przypisane ręcznie

In [ ]:
# wyświetlanie etykiet

In [ ]:
x.index

In [ ]:
# efekt: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
x.values

In [ ]:
# efekt array([1, 2, 3, 4, 5], dtype=int64)

In [ ]:
# Series użycie słownika

In [ ]:
y = pd. Series({'a':1, 'b':2, 'c':3, 'd': 4, 'e': 5})
y

*modyfikacje Series*

In [ ]:
# dodanie elementu

In [ ]:
y = pd. Series({'a':1, 'b':2, 'c':3, 'd': 4, 'e': 5})
y['f'] = 6
y

In [ ]:
# zmiana etykiety z użyciem metody pop jak w słowniku

In [ ]:
# y['aa'] = y.pop('a')

In [ ]:
# opcja druga

In [ ]:
import pandas as pd

# Przykładowa seria
y = pd.Series([1, 2, 3], index=['a', 'b', 'c'])

# Zamiana etykiety 'a' na 'aa'
y = y.rename({'a': 'aa'})

print(y)

In [ ]:
# Metoda pop   y['aa'] = y.pop('a')

In [ ]:
y = pd. Series({'a':1, 'b':2, 'c':3, 'd': 4, 'e': 5})
y['test'] = y.pop('e')
y

In [ ]:
# usunięcie elementu

In [ ]:
y = pd. Series({'a':1, 'b':2, 'c':3, 'd': 4, 'e': 5})

In [ ]:
y.drop(['a', 'b'])

In [ ]:
# Dostajemy usunięte etykiety pierwsze dwie ale nie nadpisujemy Y aby nadpisać trzeba zrobić inplace

In [ ]:
y = pd. Series({'a':1, 'b':2, 'c':3, 'd': 4, 'e': 5})
y.drop(['a', 'b'], inplace=True)
y

In [ ]:
# indeksowanie

In [ ]:
#  opcja nr 1 odwołanie do etykiet

In [ ]:
y = pd. Series({'a':1, 'b':2, 'c':3, 'd': 4, 'e': 5})

In [ ]:
x['b']

In [ ]:
#  opcja nr 2 odwołanie do wartości liczbowych

In [ ]:
y = pd. Series({'a':1, 'b':2, 'c':3, 'd': 4, 'e': 5})

In [ ]:
#  opcja nr 1 odwołanie do pozycji jak Pythonie zaczynając od 0

In [ ]:
y[4]

In [ ]:
# Funkcje matematyczne

In [ ]:
y = pd. Series({'a':1, 'b':2, 'c':3, 'd': 4, 'e': 5})
x.max(), x.min(), x.mean()

In [ ]:
#Numpy i funkcja where razem z Series

In [ ]:
import numpy as np

y = pd. Series({'a':1, 'b':2, 'c':3, 'd': 4, 'e': 5})
np.where(x>1, True,False)
# zwracaj True gdzie x czyli etykieta jest większa od 2 a tam gdzie nie to zwracaj False

# DataFrames

In [ ]:
import pandas as pd

In [ ]:
# Tworzenie DataFrames ze słownika list

In [ ]:
import pandas as pd
slownik = {
    'wojewodztwo': ['Mazowieckie','Warminsko-Mazurskie', 'Podlaskie','Pomorskie', 'małopolskie'],
    'stolica': ['Warszawa', 'Olsztyn', 'Białystok', 'Gdańsk', 'Kraków'],
    'l_ludnosci': [5.42, 1.42, 1.18, 2.35, 3.41]
    
}
df = pd.DataFrame(slownik)
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
# zmiana indeksów

In [ ]:
df.index

In [ ]:
df.index =['MAZ', 'WM', 'POD', 'POM', 'MAL']

In [ ]:
df

In [ ]:
# opcja nr 2 indeksy w ramach definicji słwonika

In [ ]:
import pandas as pd
slownik = {
    'wojewodztwo': ['Mazowieckie','Warminsko-Mazurskie', 'Podlaskie','Pomorskie', 'małopolskie'],
    'stolica': ['Warszawa', 'Olsztyn', 'Białystok', 'Gdańsk', 'Kraków'],
    'l_ludnosci': [5.42, 1.42, 1.18, 2.35, 3.41]
}
#pd.Series rzed warosciami danego klucza.
#df.index =['MAZ', 'WM', 'POD', 'POM', 'MAL'] i do pod wartości


slownik_pd_series =  {
    'wojewodztwo':pd.Series(['Mazowieckie','Warminsko-Mazurskie', 'Podlaskie','Pomorskie', 'małopolskie'],
                            index =['MAZ', 'WM', 'POD', 'POM', 'MAL']),
                            
    'stolica': ['Warszawa', 'Olsztyn', 'Białystok', 'Gdańsk', 'Kraków'],
    'l_ludnosci': [5.42, 1.42, 1.18, 2.35, 3.41]
}
df = pd.DataFrame(slownik_pd_series)

df

In [ ]:
#Zmiana kolejnosci kolumn Argument columnds

In [ ]:
df = pd.DataFrame(slownik_pd_series, columns =['stolica', 'l_ludnosci', 'wojewodztwo'])
df

In [ ]:
#listy w ramach słownika musza być tej samej długości

In [ ]:
#Metoda stworzenia df z listy słowników

In [ ]:
slownik = {
    'wojewodztwo': ['Mazowieckie','Warminsko-Mazurskie', 'Podlaskie','Pomorskie', 'Małopolskie'],
    'stolica': ['Warszawa', 'Olsztyn', 'Białystok', 'Gdańsk', 'Kraków'],
    'l_ludnosci': [5.42, 1.42, 1.18, 2.35, 3.41]
}
slownik

In [ ]:
lista_slownikow = [
    {'wojewodztwo': 'Mazowieckie', 'stolica': 'Warszawa','l_ludnosci': 5.42 },
    {'wojewodztwo': 'Warminsko-Mazurskie', 'stolica': 'Olsztyn','l_ludnosci': 1.42 },
    {'wojewodztwo': 'Podlaskie', 'stolica': 'Białystok','l_ludnosci': 1.18 },
    {'wojewodztwo': 'Pomorskie', 'stolica': 'Gdańsk','l_ludnosci': 2.35 },
    {'wojewodztwo': 'Małopolskie', 'stolica': 'Kraków','l_ludnosci': 3.41 },    
]
#kazdy slownik odnosi sie do oddzielnego wiersza

lista_slownikow
df=pd.DataFrame(lista_slownikow)
df

In [ ]:
#Z dwuwymiarowych ndarray

In [ ]:
import numpy as np


x=np.array([['Mazowieckie', 'Warszawa', 5.42],
            ['Warminsko-Mazurskie', 'Olsztyn', 	1.42],
            ['Podlaskie', 'Białystok', 	1.18],
            ['Pomorskie', 'Gdańsk', 	2.35],
            ['Małopolskie', 'Kraków', 	3.41]]
        )
x

In [ ]:
#podajemy wiersze tabeli kolejne

In [ ]:
df =pd.DataFrame(x)
df

In [ ]:
#różnica w tej metodzie polega na tym, ze nie ma przypisanych nazw kolumn tutaj trzeba je przypisać wg właściwej kolejnsoc

In [ ]:
df2 = pd.DataFrame(x, columns =['wojewodztwo', 'stolica', 'l_ludnosci'])
df2

In [ ]:
# dodanie indeksu

df3 = pd.DataFrame(x, columns =['wojewodztwo', 'stolica', 'l_ludnosci'],index =['MAZ', 'WM', 'POD', 'POM', 'MAL'])
df3

# Import i eksport danych ze źródeł zewnętrznych

In [ ]:
import pandas as pd

In [ ]:
# z pliku excel

In [ ]:
pip install openpyxl --upgrade --pre

In [ ]:
df_1 = pd.read_excel("C:/Dane/2_programowanie_ML_zadanka_kurs_wprowadzenie/001_dane.xlsx")

In [ ]:
df_1

In [ ]:
# Otwieranie kolejnego arkusza w tym samym pliku excel

In [ ]:
df_2 = pd.read_excel("C:/Dane/2_programowanie_ML_zadanka_kurs_wprowadzenie/001_dane.xlsx", sheet_name='kolejny arkusz')
df_2

In [ ]:
# zdefiniowanie nazw kolumn gdy chcemy cos np zmienic w nazwach kolumn

In [ ]:
df_2 = pd.read_excel("C:/Dane/2_programowanie_ML_zadanka_kurs_wprowadzenie/001_dane.xlsx", sheet_name='kolejny arkusz',
                    names = ['NaN' , 'NaN', 'NaNlp', 'dzien', 'data', 'day', 'example', 'some_number', 'random_stuff'])
df_2

In [ ]:
# zmieniamy kolumny how_many na some_number w names wypisujemy kolejno nazwy  kolumn: 
# names = ['NaN' , 'NaN', 'NaNlp', 'dzien', 'data', 'day', 'example', 'some_number', 'random_stuff']

In [ ]:
# Otwarcie pliku cvs iris

In [ ]:
import pandas as pd
df_4 = pd.read_csv("C:/Dane/2_programowanie_ML_zadanka_kurs_wprowadzenie/002_iris.csv")
df_4

In [ ]:
# Eksport danych

In [ ]:
df_4.to_excel("C:/Dane/2_programowanie_ML_zadanka_kurs_wprowadzenie/002_iris.xlsx", sheet_name ='kwiatki')

# Podstawowe informacje o zbiorach danych

In [ ]:
df_4.head()

In [ ]:
df_4.tail()

In [ ]:
df_4.head(1)

In [ ]:
df_4.tail(1)

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
# załadowanie danych z użyciem seaborn

In [ ]:
df = sns.load_dataset('titanic')

In [ ]:
df

In [ ]:
#metoda shape ile wierszy ile kolumn

In [ ]:
df.shape

In [ ]:
# metoda info podstawowe dane o zbiorze danych wszystkie kolumny , rekordy not null
# jak not-null 891 rekordów a w bazie jest 891 rekordów to nie ma pustych nullowych rekordów dobrze

In [ ]:
df.info()

In [ ]:
# warto sprawdzić czy te typy danych zgadzają się z naszą logiką…..czy float jest tam gdzie być powinien.... itd

In [ ]:
df.describe()

In [ ]:
#describe pokazuje...
# count ile wartosci bez braku danych, mean średnia wartość, std-odhcylenie standrd, 1,2,3, kwartyl. mediana...

In [ ]:
df.columns

In [ ]:
# zwraca nazwy kolumn

In [ ]:
df.isnull()

In [ ]:
# Tam gdzie jest brak to True a zapisane False

In [ ]:
df.isna()

In [ ]:
# wyznaczenie brakujacych rekordów

In [ ]:
# tamgdzie jest brak True a gdzie są dane to False

In [ ]:
df.isna().sum()

In [ ]:
# w kolumnie age mamy 177 braków oraz w kolumnie deck 688 braków

In [ ]:
df.isnull().sum()

In [ ]:
# w kolumnie age mamy 177 braków oraz w kolumnie deck 688 braków

In [ ]:
# Dropna usuniecie brakow danych

In [ ]:
# usunięcie kompletnie pustych rekordów brak jakichkolwiek informacji

In [ ]:
df2 = df.dropna(how = 'all')
df2

In [ ]:
# podglądam braki w df2

In [ ]:
df2.isna().sum()

In [ ]:
# nie zmieniło się nic bo nie było pustych całkowicie rekordów

In [ ]:
# dropna metoda 2

In [ ]:
df3 = df.dropna(how='any')
df3

In [ ]:
df3.isna().sum()

In [ ]:
# usunęły się wszystkie rekordy jakie miały jakikolwiek brak danych czyli wyczyściliśmy baze titanic.

In [ ]:
# Korzystajac z argumentu any usuwamy znaczną cześc informacji trzeba uważać

In [ ]:
# dropna nie jest najlepszą opcją!!!

In [ ]:
df.shape

In [ ]:
df3.shape

In [ ]:
# usunęliśmy większość zbioru danych z 891 zostało 182 wiersze

In [ ]:
# Duplicated() -zduplikowane rekordy

In [ ]:
df.duplicated()

In [ ]:
#  dostajemy true false dla każdego rekordu czy jest zduplikowany czy też nie.

In [ ]:
df.duplicated().sum()

In [ ]:
# sumowanie zduplikowanych rekordów

In [ ]:
# Drop.duplicates()

In [ ]:
df4 = df.drop_duplicates()
df4

In [ ]:
df4.duplicated().sum()

In [ ]:
# Brak zdublowanych rekordów

In [ ]:
df4.shape

In [ ]:
# baza danych nam się zmniejszyła :) ale bez powielonych rekordów

In [ ]:
# Sortowanie Sort_values()

In [ ]:
df4.head()

In [ ]:
df5 = df4.sort_values(by='fare')
df5.head()

In [ ]:
# sortowanie po zmiennej fare  czyli po danych z kolumny fare rosnąco. Wynik się nie zapisuje...jeśli  nie jest przypisany 
# do nowego argumenty tu sie zapisał bo mamy df5 ale ostawiając df4 by się nie zapisało.

In [ ]:
# sortowanie malejące z użyciem ascending

In [ ]:
df5 = df4.sort_values(by='fare', ascending=False)
df5.head()

In [ ]:
# za utomatu ascending ustawione jest na True. jak zmienimy mamy sortowanie malejące

In [ ]:
# value_counts() - unikalne wartości zmiennej jakościowej

In [ ]:
df4['class'].value_counts()

In [ ]:
# ile rekordów pierwsza druga klasa

In [ ]:
df4['class'].value_counts(normalize=True)

In [ ]:
# pokazany udział procentowy 0.5 to 50%

# Indeksowanie  w Python Pandas

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_excel('C:/Dane/2_programowanie_ML_zadanka_kurs_wprowadzenie\Moduł 2/Zbiory danych/pracownicy.xlsx')

In [ ]:
df.head()

In [ ]:
# indeksowanie na imie pracownika czyli 1 kolumna

In [ ]:
df = df.set_index('Imię')

In [ ]:
# idex ustawiony na imie

In [ ]:
df.head()

In [ ]:
# pierwsze dwa imiona indeksowanie proste bez słów kluczowych

In [ ]:
df[:2]

In [ ]:
df[1:4]

In [ ]:
# df = df.set_index('Imię') -zapielismy dane na imie a teraz sprawdzamy wiek

In [ ]:
df['Wiek']

In [ ]:
# to samo inaczej

In [ ]:
df.Wiek

In [ ]:
# df = df.set_index('Imię') -zapielismy dane na imie a teraz sprawdzamy wiek i zarobki

In [ ]:
df[['Wiek', 'Zarobki']]

In [ ]:
# Wyznacz wiersze 1 oraz 2 dla kolumn wiek i zarobki

In [ ]:
# df = df.set_index('Imię') -zapielismy dane na imie wieć wyswietli nam imiona z wierszy 1 i 2 dla kolumn wiek i zarobki

In [ ]:
df[1:3][['Wiek', 'Zarobki']]

In [ ]:
# podwojny nawias dla kolumn pamietać

In [ ]:
# jak bierzemy jedną kolumnę wiek to nie musimy podawwć dwukropka
df['Wiek']['Łucja']

In [ ]:
# indeksowanie za pomoca loc oraz iloc

In [ ]:
df.head()

In [ ]:
# metoda loc dane dla Andrzeja

In [ ]:
df.loc['Andrzej']

In [ ]:
# otrzymaliśm wszystkie wartosci dla Andrzeja

In [ ]:
# metoda iloc dane dla Andrzeja

In [ ]:
df.iloc[2]

In [ ]:
df[2:3]

In [ ]:
# metoda loc wiecej niz jeden wiersz szukamy :)

In [ ]:
df.loc['Andrzej':'Janusz']

In [ ]:
# metoda iloc to samo co wyzej

In [ ]:
df.iloc[2:5]

In [ ]:
# indeksowanie proste

In [ ]:
df[2:5]

In [ ]:
# to co wyże ale indeksowanie proste

In [ ]:
df.head()

In [ ]:
df.loc['Agnieszka','Miasto']

In [ ]:
# to samo tylko z iloc

In [ ]:
df.iloc[1,6]

In [ ]:
# indeowanie proste odwołujemy się do kolumny miasto a póxniejd o agneiszki

In [ ]:
df['Miasto']['Agnieszka']

In [ ]:
# indeksowanie proste opcja nr 2

In [ ]:
df[1:2]['Miasto']

In [ ]:
df.head()

In [ ]:
# wyciągnieie kilku kolumn za pomoca loc

In [ ]:
# wyciagamy dla Agnieszka od wiek do premia

In [ ]:
df.loc['Agnieszka','Wiek':'Premia']

In [ ]:
# wszystkei imiona od Agnieszki do końca z wiekiem do premii
df.loc['Agnieszka':,'Wiek':'Premia']

In [ ]:
# iloc wartosci liczbowe

In [ ]:
df.iloc[1:,1:4]

In [ ]:
# indeksowaie proste

In [ ]:
# 1 bierzemy imiona anjpierw od Agneiszka do końca

In [ ]:
# 2 bierzemy kolumny

In [ ]:
df['Agnieszka':][['Wiek', 'Staż', 'Premia']]

In [ ]:
# Zmiana wartości

In [ ]:
df.head()

In [ ]:
# Zmieniamy wiek Arianny z 23 na 25

In [ ]:
df['Wiek']['Adrianna'] = 25

In [ ]:
# To jest zła metoda pwoduje wykonanie operacji na kopii naszego zbioru dnaych a nie na wlasciwym zbiorze danych

In [ ]:
df.head()

In [ ]:
# udało się to zmienić i to nie jest błąd a ostrzeżenie

In [ ]:
# Poprawna metoda poniżej dla drugiego wiersza czyli Agnieszka zmiana na 35:

In [ ]:
df.loc['Agnieszka','Wiek']

In [ ]:
# wyświetliliśmy wiek

In [ ]:
df.loc['Agnieszka','Wiek'] = 35

In [ ]:
df.head()

In [ ]:
# udało się zmienić

In [ ]:
# za pomoca metody iloc

In [ ]:
df.iloc[1,1]

In [ ]:
df.iloc[1,1] = 104

In [ ]:
df.head()

#  Maski

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_excel('C:/Dane/2_programowanie_ML_zadanka_kurs_wprowadzenie\Moduł 2/Zbiory danych/pracownicy.xlsx')

In [ ]:
# podać wszystkie rekordy gdzie miasto to Warszawa. Wykorzystać maski

In [ ]:
df['Miasto']

In [ ]:
#  1 tam gdzie Warszawa bedzie True

In [ ]:
df['Miasto'] == 'Warszawa'

In [ ]:
# 2wybieramy zbiór danych

In [ ]:
df[df['Miasto'] == 'Warszawa']

In [ ]:
# wynik

In [ ]:
# inne operatory

In [ ]:
# nierówne

In [ ]:
df[df['Miasto'] != 'Warszawa']

In [ ]:
# łączenie operator i & warszawa pleć to kobieta
df[(df['Miasto'] == 'Warszawa') & (df['Płeć'] == 'K') ]

In [ ]:
# łączenie operator lub | warszawa pleć to kobieta
df[(df['Miasto'] == 'Kraków') | (df['Zawód'] == 'Sprzedawca') ]

In [ ]:
# operator isin

In [ ]:
df[df['Miasto'].isin(['Warszawa', 'Kraków'])]

In [ ]:
# jeden element mniejszy niż:
df[df['Wiek']<25]

In [ ]:
# osoby pochodzące z Warszawy starsze niż 30 lat lub stnowisko analityka

In [ ]:
df[df['Miasto'].isin(['Warszawa'])]

In [ ]:
df[(df['Miasto'].isin(['Warszawa'])) & (df['Wiek'] > 30) | (df['Zawód'] == 'Analityk')]

In [ ]:
# opcja b z kursu:
df[((df['Miasto'] == 'Warszawa') & (df['Wiek'] > 30) )| (df['Zawód'] == 'Analityk')]

#  Tworzenie nowych kolumn oraz zmiana ich wartości

In [ ]:
# Zmiany na kolumnach

In [ ]:
import pandas as pd

In [ ]:
df =pd.read_excel('C:/Dane/2_programowanie_ML_zadanka_kurs_wprowadzenie\Moduł 2/Zbiory danych/pracownicy.xlsx')

In [ ]:
df.head()

In [ ]:
# Tworzymy nową zmienną ocena. Tworzy sie kolumna ocena z wartościami = 0

In [ ]:
df['Ocena'] = 0

In [ ]:
df.head()

In [ ]:
# Zmieniamy ocenę Andrzejowi

In [ ]:
df.loc[2, 'Ocena'] = 5

In [ ]:
df.head()

In [ ]:
# Ocena zmieniona

In [ ]:
# Zmiana kolumny opcja nr 2 z użyciem maski gdy chcemy zmienić wiecej wartości niż jedna

In [ ]:
# ograniczamy sobie zawody do księgowych. Podjamey wartośc kolumny którą chcemy zmienic i przypisujemy ocenę

In [ ]:
df.loc[df['Zawód'] == 'Księgowy','Ocena'] = 3

In [ ]:
df.head()

In [ ]:
df

In [ ]:
# Tworzenie nowej zmiennej bazującej na starych zmiennych....

In [ ]:
# Ile dana osoba zarabia w całości zarobki plus premia.

In [ ]:
#  1tworymy zmienną która bedzie kolumną nową Zarobki_tot

In [ ]:
df['Zarobki_tot'] = df['Zarobki'] * (1 + df['Premia'])

In [ ]:
df

In [ ]:
# powstała nowa kolumna z nowymi zarobkami

In [ ]:
# Przykład nr 2 łączenie zmiennych znakowych

In [ ]:
df

In [ ]:
# Tworzymy zmienną nazwa jako sumę imienia i nazwiska. Trzeba pamiętać o spacji

In [ ]:
df ['Nazwa'] = df['Imię'] + ' ' + df['Nazwisko']

In [ ]:
df

In [ ]:
# Otrzymaliśmy nowa kolumne z imieniem i nazwiskiem

In [ ]:
# Modyfikacja kolumn

In [ ]:
# Przykład Zmiany kolumny staż na staż pracy  i Zarobki na Pensja

In [ ]:
df.rename(columns = {'Staż': 'Staż pracy', 'Zarobki': 'Pensja'})

In [ ]:
#Aby te kolumny zapisały się należy przypisać napisany kod do zmienniej np df1 bo df poda starą tabelę

In [ ]:
df1 = df.rename(columns = {'Staż': 'Staż pracy', 'Zarobki': 'Pensja'})

In [ ]:
df1

In [ ]:
#  innym rozwiązaniem jest użycie argumentu inplace= true

In [ ]:
df.rename(columns = {'Staż': 'Staż pracy', 'Zarobki': 'Pensja'}, inplace=True)

In [ ]:
df

In [ ]:
# Zmiany w df zosały zapisane

In [ ]:
# Usuniecie zmiennej axis=1 oznacza, że usuwamy kolumny a nie wiersze. inplace = True czyli andpisujemy

In [ ]:
df.drop('Staż pracy', axis =1, inplace= True )

In [ ]:
df

In [ ]:
# Rozdzielam zmienną nazwa na imie i nazwisko expand = True) przypisz rozdzielone wartosci do nowych zmiennych

In [ ]:
df[['Rozdzielone imię', 'Rozdzielone nazwisko']] = df['Nazwa'].str.split(' ', expand = True)

In [ ]:
df

# Analiza DataFrames przydatne metody w Pndas apply,groupby

In [ ]:
import pandas as pd

In [ ]:
df =pd.read_excel('C:/Dane/2_programowanie_ML_zadanka_kurs_wprowadzenie\Moduł 2/Zbiory danych/pracownicy.xlsx')

In [ ]:
df.head()

In [ ]:
# apply ze względu na kolumne hcemy okreslić pracownik z dużym stażem w pracy staz większy niz 10 lat długi staż mniejszy niż 10 lat krótki

In [ ]:
# tworze funkcję i argument staż

In [ ]:
def staz(staz):
    if staz >= 10:
        return "Długi staz"
    else:
        return "krótki staż"

In [ ]:
# nakładamy funkcję na zmienną

In [ ]:
df.Staż

In [ ]:
# 2 df. zmienna ze zbioru.apply(nazwa funkcji)

In [ ]:
df.Staż.apply(staz)

In [ ]:
# 3 wygladzamy kod i dodajemy kolumnę do danych

In [ ]:
df['Długość stażu'] = df.Staż.apply(staz)

In [ ]:
df

In [ ]:
# Przykład nr 2 nałożenie na cały zbiór a nie na jedną kolumnę. Wyznaczymy funkcję która zwrócinam wartośc właściwych zarobków razem z 
# premią wykorzystujac funkcje apply

In [ ]:
# Tworze funkcje a argument funkcji który przyjmie całe dane

In [ ]:
def pensja(dane):
    # tworzę nową kolumne pensja
    dane['Pensja'] = dane['Zarobki'] + (1*dane['Premia'])
    return dane

In [ ]:
# nakładamy funkcje na dane

In [ ]:
df = df.apply(pensja, axis=1)
# axis=1 zmian dokonujemy na całym zbiorze

In [ ]:
df

In [ ]:
# kasowanie kolumny

In [ ]:
df.drop('Długość stażu', axis=1, inplace=True)

In [ ]:
# Funkcja lambda i długośc stażu

In [ ]:
df['Długość stażu'] = df.Staż.apply(lambda x: 'Długi staż' if x>=10 else "krótki staż")

In [ ]:
# najpierw wybieramy zmienną Staż.apply(lambda x: 'Długi staż' if x>=10 else "krótki staż)

In [ ]:
df

In [ ]:
# Do funkcji lambda nie da się w kodzie odwołac

In [ ]:
# Groupby

In [ ]:
# grupujemy z\biór danych ze wzgledu na kolumnę Miasto

In [ ]:
df.groupby('Miasto').count()

In [ ]:
# grupujemy miasto po Zarobkach zliczajac

In [ ]:
df.groupby('Miasto')['Zarobki'].count()

In [ ]:
# grupujemy miasto po Zarobkach zliczajac średnia.

In [ ]:
df.groupby('Miasto')['Zarobki'].mean()

In [ ]:
# Otrzymaliśmy średią wartośc zarobków na poszczeólne miasta

In [ ]:
# grupujemy zbior danych po zmiennej Miasto i Zawód wyznaczajac średnie Zarobki i Premia 
# te wartości w liscie nr 1 wyswietli nam dwie zmienne w liscie poxniej dwie szukane w liscie na końcu miara czyli mean()

In [49]:
df.groupby(['Miasto', 'Zawód'])[['Zarobki', 'Premia']].mean()

                     Zarobki  Premia
Miasto   Zawód
Gdańsk   Księgowy     6000.0  0.0000
         Sprzedawca   5500.0  0.0700
Kraków   Analityk     9000.0  0.0000
         Kierownik   12500.0  0.0200
         Księgowy     4000.0  0.0000
Warszawa Analityk     7500.0  0.0000
         Kierownik   17000.0  0.0200
         Księgowy     8000.0  0.0000
         Sprzedawca   6000.0  0.0825
Łódź     Analityk     5000.0  0.0000
         Kierownik   15000.0  0.0300
         Księgowy     4250.0  0.0000

In [ ]:
# powyzszy sposob nie umozliwia wyliczenia wiecej niz jednej mairy

In [ ]:
# metoda agg pozwala wyznaczyc wiecej niż jedna mairę

In [ ]:
# df.groupby('po czym chcemy grupować').agg({słwonik klucz nazwa kolumn wartośc to max min mean})

In [50]:
df.groupby('Miasto').agg({'Zarobki':['mean', 'max' ],
                         'Premia':['min', 'max']})

         Zarobki        Premia
            mean    max    min   max
Miasto
Gdańsk    5750.0   6000    0.0  0.07
Kraków    9500.0  13000    0.0  0.02
Warszawa  8000.0  17000    0.0  0.10
Łódź      7125.0  15000    0.0  0.03

In [ ]:
# definiując miary w słowniku można nadać im konkretne nazwy i wtedy kasujemy slownik

In [51]:
df.groupby('Miasto').agg(srednie_zarobki=('Zarobki','mean'),
                         maksymalne_zarobki=('Zarobki', 'max'))

          srednie_zarobki  maksymalne_zarobki
Miasto
Gdańsk             5750.0                6000
Kraków             9500.0               13000
Warszawa           8000.0               17000
Łódź               7125.0               15000

In [ ]:
# Przyklad 3 zliczmyw artośc max min i średnią zarobków i premi ze względnu na zawód dla osób , 40 lat

In [ ]:
# 1 wybieramy osoby co mająmniej niz 40 lat

In [52]:
df[df['Wiek']<40]

,Imię,Nazwisko,Wiek,Staż,Premia,Zarobki,Płeć,Miasto,Zawód,Pensja,Długość stażu
0,Adrianna,Bono,23,2,0.00,5000,K,Warszawa,Analityk,5000.00,krótki staż
1,Agnieszka,Anielska,31,2,0.05,7000,K,Warszawa,Sprzedawca,7000.05,krótki staż
2,Andrzej,Lis,32,11,0.02,13000,M,Kraków,Kierownik,13000.02,Długi staż
3,Gracjan,Pałka,33,8,0.00,6000,M,Gdańsk,Księgowy,6000.00,krótki staż
5,Jolanta,Barańczyk,38,10,0.02,17000,K,Warszawa,Kierownik,17000.02,Długi staż
6,Karolina,Zgrzyt,24,2,0.00,4000,K,Kraków,Księgowy,4000.00,krótki staż
7,Łucja,Zaremba,29,1,0.00,5000,K,Łódź,Analityk,5000.00,krótki staż
8,Michał,Barańczyk,30,3,0.00,9000,M,Kraków,Analityk,9000.00,krótki staż
10,Monika,Adamczyk,30,3,0.07,5500,K,Gdańsk,Sprzedawca,5500.07,krótki staż
11,Oskar,Nowak,39,6,0.00,4500,M,Łódź,Księgowy,4500.00,krótki staż
12,Paweł,Niebieski,33,2,0.10,6000,M,Warszawa,Sprzedawca,6000.10,krótki staż
14,Szymon,Kowalski,33,5,0.10,5000,M,Warszawa,Sprzedawca,5000.10,krótki staż
16,Weronika,Lipska,31,5,0.00,10000,K,Warszawa,Analityk,10000.00,krótki staż
17,Zuzanna,Pałka,35,1,0.00,4000,K,Łódź,Księgowy,4000.00,krótki staż

In [ ]:
# grupujemy wartości ze względu na zawod

In [ ]:
df[df['Wiek']<40].groupby('Zawód')

In [ ]:
# chcemy wartości max min i mean

In [54]:
df[df['Wiek']<40].groupby('Zawód')[['Zarobki', 'Premia']].agg(['mean', 'min', 'max'])

            Zarobki               Premia
               mean    min    max   mean   min   max
Zawód
Analityk     7250.0   5000  10000   0.00  0.00  0.00
Kierownik   15000.0  13000  17000   0.02  0.02  0.02
Księgowy     4625.0   4000   6000   0.00  0.00  0.00
Sprzedawca   5875.0   5000   7000   0.08  0.05  0.10

In [ ]:
# metoda agg bo wyliczamy więcejniż jedną miarę

# Data Frames Tabele przestawne

In [1]:
import pandas as pd

In [2]:
df =pd.read_excel('C:/Dane/2_programowanie_ML_zadanka_kurs_wprowadzenie\Moduł 2/Zbiory danych/pracownicy.xlsx')

In [3]:
df.head()

        Imię  Nazwisko  Wiek  Staż  Premia  Zarobki Płeć    Miasto       Zawód
0   Adrianna      Bono    23     2    0.00     5000    K  Warszawa    Analityk
1  Agnieszka  Anielska    31     2    0.05     7000    K  Warszawa  Sprzedawca
2    Andrzej       Lis    32    11    0.02    13000    M    Kraków   Kierownik
3    Gracjan     Pałka    33     8    0.00     6000    M    Gdańsk    Księgowy
4     Janusz    Kocioł    44     7    0.08     6000    M  Warszawa  Sprzedawca

In [ ]:
# grupujemy dane po zmiennych dane oraz płeć i policzmy średnią zarobków w tych kategoriach

In [4]:
df.groupby(['Miasto', 'Płeć']).agg({'Zarobki':'mean'})

                    Zarobki
Miasto   Płeć
Gdańsk   K      5500.000000
         M      6000.000000
Kraków   K      4000.000000
         M     11333.333333
Warszawa K      9750.000000
         M      6250.000000
Łódź     K      4500.000000
         M      9750.000000

In [ ]:
# metoda group by czyli grupowanie po zmiennych Miasto i Płeć  a metoda agg typujemy zmienna dla ktorej chcemy wyznaczyc miarę

In [ ]:
# przypisanie tabeli doz miennej

In [5]:
z = df.groupby(['Miasto', 'Płeć']).agg({'Zarobki':'mean'})

In [ ]:
# Tworzymy tabele przestawną. przenosimy płeć do kolumn wystarczy z.unstack()

In [6]:
z

                    Zarobki
Miasto   Płeć
Gdańsk   K      5500.000000
         M      6000.000000
Kraków   K      4000.000000
         M     11333.333333
Warszawa K      9750.000000
         M      6250.000000
Łódź     K      4500.000000
         M      9750.000000

In [8]:
z.unstack()

         Zarobki
Płeć           K             M
Miasto
Gdańsk    5500.0   6000.000000
Kraków    4000.0  11333.333333
Warszawa  9750.0   6250.000000
Łódź      4500.0   9750.000000

In [ ]:
# Tabela przekształciła sie do tabeli przestawnej kategorie zmiennej płci K M weszły nam do kolumn

In [ ]:
# Sposob nr 2 pivot_table()

In [10]:
pd.pivot_table(df, index='Miasto', columns='Płeć',values='Zarobki', aggfunc='mean')

Płeć           K             M
Miasto
Gdańsk    5500.0   6000.000000
Kraków    4000.0  11333.333333
Warszawa  9750.0   6250.000000
Łódź      4500.0   9750.000000

In [ ]:
# pd.pivot_table(zbior danych an ktorym pracujemy,index = to co chcemy miec w wierszach, values=to co chcemy wyliczać miara )

In [ ]:
# Tabele można tworzyć bez względu czy to zmienna numeryczna czy znakowa.

In [ ]:
# Przykład 2

In [ ]:
# Tworzyy zmienną znakową następnie przekształcamy zgrupowaną tabelę do tabeli przestawnej

In [ ]:
# 1.wyliczamy średniąw artość premi w podziale na miasto i płeć

In [11]:
y = df.groupby(['Miasto', 'Płeć']).agg({'Premia':'mean'})

In [12]:
y

                 Premia
Miasto   Płeć
Gdańsk   K     0.070000
         M     0.000000
Kraków   K     0.000000
         M     0.013333
Warszawa K     0.017500
         M     0.070000
Łódź     K     0.000000
         M     0.015000

In [ ]:
# 2 Sprawdzamy czy premia którą dostał pracownik jest większa od zera czy nie i natej podstawie przypisac kategorię premia lub brak premii

In [ ]:
# tworzymy funkcję

In [13]:
def ocena(premia):
    if premia > 0:
        return "Premia"
    else:
        return "brak premii"

In [ ]:
# na zbiór Y na zmiennną Premia chce nalożyć funkcje ocena

In [14]:
y.Premia.apply(ocena)

Miasto    Płeć
Gdańsk    K            Premia
          M       brak premii
Kraków    K       brak premii
          M            Premia
Warszawa  K            Premia
          M            Premia
Łódź      K       brak premii
          M            Premia
Name: Premia, dtype: object

In [ ]:
# Stworzyła się nowa zmienna informująca o premii lub jej braku

In [ ]:
# 3 tworzymy tabele przestawna ustack

In [15]:
y.Premia.apply(ocena).unstack()

Płeć                K            M
Miasto
Gdańsk         Premia  brak premii
Kraków    brak premii       Premia
Warszawa       Premia       Premia
Łódź      brak premii       Premia

In [ ]:
# Płeć przechodzi do kolumn miasto zostaje w wierszach