In [ ]:
# Zadanie nr 1
# W tym zadaniu zbudujesz model predykcyjny przewidujący wartość mpg (miles per galon) czyli ilości kilometrów jakie 
# może przejechać samochód na jednym galonie paliwa. Do nauczenia algorytmu wykorzystamy zbiór auto-mpg dołączony do kursu.

In [ ]:
# 1. Załaduj biblioteki pandas, matplotlib nadając im standardowe aliasy
# 2. Uruchom "magic line" definiującą, że wykresy mają być wyświetlane bezpośrednio w IDE (chociaż w tej lekcji nie korzystamy z wykresów,
# ale przyda się na "zaś")

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# 4. Do zmiennej auto załaduj dane znajdujące się w pliku auto-mpg.csv.

In [15]:
auto = pd.read_csv(r'C:/Dane/2_ML_Projekty/004_ML kurs 001 regresja bazy/auto-mpg/auto-mpg.csv')

In [16]:
auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [17]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [ ]:
# 3. Z modułu sklearn załaduj model regresji liniowej

In [18]:
from sklearn.linear_model import LinearRegression

In [ ]:
#5.1.Przypisanie danych wybieram wszystkie wiersze do X i kolumny od 1 do przed ostatniej pomijam zerową

In [38]:
X=auto.iloc[:,1:-1]

In [39]:
X

     cylinders  displacement  weight  acceleration  model year  origin
0            8         307.0    3504          12.0          70       1
1            8         350.0    3693          11.5          70       1
2            8         318.0    3436          11.0          70       1
3            8         304.0    3433          12.0          70       1
4            8         302.0    3449          10.5          70       1
..         ...           ...     ...           ...         ...     ...
393          4         140.0    2790          15.6          82       1
394          4          97.0    2130          24.6          82       2
395          4         135.0    2295          11.6          82       1
396          4         120.0    2625          18.6          82       1
397          4         119.0    2720          19.4          82       1

[398 rows x 6 columns]

In [ ]:
# usuwam kolumnę horsepower axis=1 wskazuje, że operujesz na kolumnach (nie na wierszach).

In [35]:
auto = auto.drop('horsepower',axis=1)

KeyError: "['horsepower'] not found in axis"

In [40]:
auto

,mpg,cylinders,displacement,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,2720,19.4,82,1,chevy s-10

In [ ]:
# 6. Przypisanie mpg do y

In [41]:
y=auto.loc[:,'mpg']

In [31]:
y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [42]:
X=auto.iloc[:,1:-1]
y=auto.loc[:,'mpg']

In [ ]:
# 7 nagłówki X i y

In [32]:
X.head()

,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,8,307.0,130,3504,12.0,70,1
1,8,350.0,165,3693,11.5,70,1
2,8,318.0,150,3436,11.0,70,1
3,8,304.0,150,3433,12.0,70,1
4,8,302.0,140,3449,10.5,70,1

In [43]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     398 non-null    int64
 1   displacement  398 non-null    float64
 2   weight        398 non-null    int64
 3   acceleration  398 non-null    float64
 4   model year    398 non-null    int64
 5   origin        398 non-null    int64
dtypes: float64(2), int64(4)
memory usage: 18.8 KB

In [33]:
y.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

In [ ]:
# Pozbywam się kolumn z tekstem object.8. Utwórz model, naucz go odgadywania wartości mpg i sprawdź jakość modelu:
# W zmiennej lr zapisz obiekt odpowiadający modelowi regresji liniowej z scikitlearn
# Naucz model korzystając z funkcji fit i przekazując dane uczące X.to_numpy() i wartości docelowe (target) y

In [44]:
# lr = LinearRegression()
# lr.fit(X,y)
# lr.score(X,y)ZLE nie ma to_numpy()

0.8205585866916344

In [48]:
lr = LinearRegression()
lr.fit(X.to_numpy(),y)
lr.score(X.to_numpy(),y)

0.8205585866916344

In [ ]:
#9. Korzystając z poniższego kodu utwórz tabelę z dwoma fikcyjnymi pojazdami:

In [49]:
my_car1 = [4, 160, 190, 12, 90, 1]
my_car2 = [4, 200, 260, 15, 83, 1]
cars = [my_car1, my_car2]

In [ ]:
# 10. Korzystając z metody predict z obiektu lr wyznacz prawdopodobne wartości mpg dla tych samochodów. Wyświetl te wartości

In [50]:
auto_predict =lr.predict(cars)
print(auto_predict)

[52.23767295 47.5274183 ]

In [ ]:
# 11 zaokrąglenie wyniku